<% layout ("layouts/boilerplate") %>
<div class="row mt-3">
  <h1 class="offset-3 col-6">Login</h1>
  <div class="offset-3 col-6">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          required
        />
      </div>
      <button class="btn btn-primary">login</button>
    </form>
  </div>
</div>
